{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5">
        <h1>Account page</h1>
        {# toujours faire les formulaires avec symfony console #}
        

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <h3>Modification de mon mot de passe</h3>
                {{ form(modifyPwd) }}
            </div>
        </div>
    </div>    

{% endblock %}
