{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5 small-container">
        <h1>Ma commande</h1>
        
        {# Choix de mon adresse de mon livraison<br/> #}
        {{ form(deliveryForm) }}
        {# Choix du transporteur #}

    </div>    

{% endblock %}
